.thisbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie_div{
    height: auto;
    width: 250px;
    margin-top: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 2rem 1.5rem;
    border-radius: 15px;
    border: 1px solid #e4e4e4;
}


.display{
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}
.card{
    height: fit-content;
    width: 45%;
    margin-top: 30px;
    border-radius: 15px;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.dis_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    
}
.top{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
}
.normal{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
}

.single_stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single_stat + .single_stat {
    margin-left: 2.5rem;
}

.single_stat span{
    font-size: 22px;
    font-weight: 400;
    /*color: #407FEE;*/
    /*color: rgba(64, 127, 238, 0.7);*/
    color: #333333;
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 3px 1px #e4e4e4;
    border-radius: 7px;
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.single_stat p{
    font-size: 16px;
    font-weight: 400;
    color: #909090;
    margin: 0px;

}