.main_body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #ffffff;
  }

.content{
  margin-left: 280px;
  margin-right: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}